<h2 class="text-2xl font-medium uppercase text-center my-3"> Welcome To The Chat </h2>

<div class="container mx-auto p-3 border border-gray-300 rounded">
	
	<%= render 'messages/message_list', messages: @messages %>
	<%= render 'messages/form' %>
	<!-- <room-component /> -->

</div>